/**
 * Variables
 **/ 

:root {
    --lt-white: #fff;
    --lt-off-white: #F2F2F2;
    --lt-slightly-off-white: #FEFCF7;
    --lt-soft-peach: #FDD6BA;
    --lt-gray: #F4F1EB;
    --dk-forest-green: #0E8784;
    --dk-gray-blue: #333D4B;
    --dk-nimbus-gray: #2C343E;
    --dk-cloudy-gray: #83888F;
    --dk-modal-gray: #979797; 
    --secondary-font-family: "Fraunces", serif;
    --primary-font-family: "Barlow", sans-serif;

    --step-0: clamp(1rem, 0.9543rem + 0.1951vw, 1.13rem);
    --step-1: clamp(1.25rem, 1.1253rem + 0.5319vw, 1.5908rem);
    --step-2: clamp(1.5625rem, 1.3112rem + 1.0721vw, 2.2493rem);
    --step-3: clamp(1.9531rem, 1.5041rem + 1.916vw, 3.1805rem);
    --step-4: clamp(2.4414rem, 1.6893rem + 3.2092vw, 4.4973rem);

    /* --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem); */
    --space-s-m: clamp(1rem, 0.7609rem + 1.1957vi, 1.6875rem);
    --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vi, 3.375rem);

    --fw-300: 300;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;
}

/**
 * Global Styles
 **/
body {
    background-color: var(--lt-slightly-off-white);
    font-family: var(--primary-font-family);
    color: var(--dk-gray-blue);
    line-height: 1.5625;
    font-size: var(--step-0);
    margin: 0;
    font-weight: var(--fw-300);
}

h1, h2, h3, h4 {
    font-family: var(--secondary-font-family);
}

h1 {
    font-size: var(--step-4);
    font-weight: var(--fw-900);
    /* color: var(--lt-slightly-off-white); */
    line-height: clamp(2.5rem, 2.317rem + 0.78vw, 3rem);
    margin-top: 0;
}

h2 {
    font-size: var(--step-3);
    margin-top: 0;
}

h3 {
    font-size: var(--step-2);
}

ul {
    padding-left: 0;
}

ul li a {
    text-decoration: none;
}

.button {
    border: none;
    padding: 15px 31px 15px 31px;
    width: 13.5625rem;
    justify-self: center;
    font-family: var(--secondary-font-family);
    background-color: var(--dk-forest-green);
    border-radius: 6px;
    color: inherit;
    font-weight: var(--fw-700);
}

/**
 * Utilities
 **/
.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

.prose {
    --flow-space: var(--space-l-xl);
}

.prose-1 {
    --flow-space: var(--space-s-m);
}

.m-s-l {
    padding-top: clamp(0.813rem, -0.262rem + 4.59vw, 3.75rem);
}

.fd-m {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: clamp(4rem, 3.497rem + 2.15vw, 5.375rem);
    padding-top: clamp(4rem, 3.177rem + 3.51vw, 6.25rem);
}

.fe-m {
    margin-left: clamp(1.5rem, -0.046rem + 6.59vw, 5.313rem);
    margin-right: clamp(1.5rem, -0.046rem + 6.59vw, 5.313rem);
}

.fe-c-m {
    /* padding-top: 4.5rem; */
    padding-bottom: 3rem;
    padding-left: clamp(2.188rem, 1.883rem + 1.3vw, 2.938rem);
    padding-right: clamp(2rem, 1.595rem + 1.73vw, 3rem);
}

.wrapper {
    padding-left: clamp(1.5rem, 0.22rem + 5.46vw, 5rem);
    padding-right: clamp(1.5rem, 0.22rem + 5.46vw, 5rem);
    margin-left: auto;
    margin-right: auto;
}

.region-1 {
    padding-top: clamp(7.5rem, 7.095rem + 1.73vw, 8.5rem);
    padding-bottom: clamp(7.5rem, 5.473rem + 8.65vw, 12.5rem)
}

.region-2 {
    padding-top: clamp(7.5rem, 5.473rem + 8.65vw, 12.5rem);
    padding-bottom: clamp(7.5rem, 5.473rem + 8.65vw, 12.5rem);
}

.region-3 {
    padding-top: clamp(7.5rem, 6.284rem + 5.19vw, 10.5rem);
    padding-bottom: clamp(7.5rem, 6.284rem + 5.19vw, 10.5rem);
}

.region-4 {
    padding-bottom: clamp(7.5rem, 6.284rem + 5.19vw, 10.5rem);
}

.region-5 {
    padding-top: clamp(3.375rem, 3.505rem + -0.65vw, 2.938rem);
    padding-bottom: clamp(3.375rem, 3.505rem + -0.65vw, 2.938rem);
    padding-left: clamp(3.375rem, 2.801rem + 2.87vw, 5.313rem);
    padding-right: clamp(3.375rem, 2.801rem + 2.87vw, 5.313rem);
}

    /* == Mobile Nav == */
.cluster {
    display: none;
}

.cluster.nav__open {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 0 2.5rem 0;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 64px;
    background: linear-gradient(0deg, rgba(238, 233, 233, 1) 6%, rgba(254, 252, 247, 1) 36%);
}

/**
 * Composition
 */
 .g-center {
    display: grid;
    justify-content: center;
    align-items: center;
 }

 .grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
 }

 .repel {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .repel-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .repel-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
 }

 .f-center {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
 }

/**
 * Block Styles
 **/

 /* == Header == */
 .header__wrapper {
    padding-top: clamp(2rem, 1.736rem + 1.13vw, 2.723rem);
    padding-bottom: clamp(2.5rem, 2.431rem + 0.29vw, 2.688rem);
    position: relative;
 }

 .nav__menu {
    font-weight: var(--fw-700);
    font-size: 1.5rem;
    font-family: var(--secondary-font-family);
    text-align: center;
    text-transform: capitalize;
 }

.hamburger__menu {
    cursor: pointer;
}

/* == Hero == */
.hero {
    background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
    background-repeat: no-repeat;
    height: clamp(31.25rem, 28.409rem + 12.12vw, 37.5rem);
    background-size: cover;
    text-align: center;
    color: var(--lt-slightly-off-white);
    border-radius: 10px;
}

.hero__wrapper {
    height: 100%;
}

.hero__content-wrapper {
    padding-top: clamp(6.25rem, 5.819rem + 1.84vw, 7.313rem);
    padding-bottom: clamp(6.188rem, 5.757rem + 1.84vw, 7.25rem);
    padding-left: clamp(1.5rem, -0.046rem + 6.59vw, 5.313rem);
    padding-right: 1.5rem;
    height: 100%;
}

/* == Collections == */
.collections__title {
    font-size: clamp(2.5rem, -0.625rem + 13.33vw, 9.375rem);
    text-align: center;
    text-transform: lowercase;
    line-height: 1.8;
    color: var(--dk-cloudy-gray);
    background: linear-gradient(180deg, rgb(131, 136, 143) 0%, rgb(206, 209, 213) 80%);
    background-clip: border-box;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection h3 {
    font-size: 1.5rem;
    line-height: 1.335;
}

.collection p {
    font-size: clamp(0.938rem, 0.912rem + 0.11vw, 1rem);
    max-width: 35ch;
}

.collection__img {
    width: clamp(12.5rem, 11.081rem + 6.05vw, 16rem);
    height: clamp(9.438rem, 8.373rem + 4.54vw, 12.063rem);
}

/* == Features == */
.features {
    position: relative;
}

.features__content {
    text-align: center;
    color: var(--lt-slightly-off-white); 
    z-index: 2;
    position: relative;
}

.feature {
    background-color: var(--dk-forest-green); 
    gap: 1.5rem;
    border-radius: 8px;
} 

.features__background {
    height: 56.375rem;
    background-color: var(--dk-nimbus-gray);
    position: absolute;
    width: 100%;
    border-radius: 8px;
}

.features__description p {
    font-size: clamp(0.938rem, 0.912rem + 0.11vw, 1rem);
    line-height: 1.67;
    max-width: 56ch;
}

.features__benefits {
    gap: 1.5rem;
}

.feature__image {
    margin-top: 4.5rem;
}

.benefit__title {
    font-size: 1.5rem;
}

/* == Footer == */
.footer {
    padding-bottom: clamp(4.5rem, 4.095rem + 1.73vw, 5.5rem);
}

.footer__wrapper {
    background-color: var(--dk-nimbus-gray);
}

.footer__menu {
    flex-direction: column;
    text-transform: uppercase;
    color: var(--dk-cloudy-gray);
    font-size: 0.75rem;
    font-weight: var(--fw-600);
    letter-spacing: 0.92px;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 3.0275rem;
}

.social__icons-list {
    margin-bottom: 0;
    margin-top: clamp(3.035rem, 2.055rem + 4.18vw, 4.063rem);
}

/**
 * Media Query Styles
 **/

@media screen and (min-width: 48rem) {
/* == Header == */
.hamburger__menu {
    display: none;
}

.cluster {
    display: flex;
    gap: 2rem;
}

.nav__menu {
    font-family: var(--primary-font-family);
    color: var(--dk-cloudy-gray);
    font-weight: var(--fw-600);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.92px;
}

/* == Hero == */
.hero {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    text-align: left;
}

.hero__content-wrapper {
    justify-content: start;
}

.button.hero__button {
    justify-self: start;
}

.hero p {
    max-width: 45ch;
}

h1 {
     max-width: 12ch;
}

/* == Collections == */
.collections {
    position: relative;
}

.collections__title {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 46px;
}

.collections__list {
    text-align: left;
    max-width: 1100px;
    margin: auto;
}

.collection__package {
    flex-direction: row;
}

.collection__content {
    align-self: start;
}

/* == Features == */
.feature__package {
    flex-direction: row;
    gap: 3.5rem;
}

.feature__image {
    padding-left: 4.375rem;
    margin-top: 0;
    height: 3.5rem;
}

.feature:nth-child(3) .feature__image {
    height: 2.4375rem;
}

.features__benefits {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.fe-c-m {
    padding-left: 0;
    padding-right: 3rem;
}

.benefit {
    padding-top: 2.5625rem;
    text-align: left;
}

.benefit__title {
    margin: 0;
}

.benefit p {
    font-size: 0.9375rem;
    max-width: 40.3ch;
}

.features__background {
    height: 35.8125rem;
}

/* == Footer == */
.footer__menu {
    flex-direction: row;
    margin-top: 2rem;
}
}

@media screen and (min-width: 62.5rem) {
    .collection__package {
        flex-wrap: wrap;
    }

    .grid-1 {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.875rem;
    }

    .collections__list {
        text-align: center;
    }

    .collection p {
        max-width: 28ch;
    }
}

@media screen and (min-width: 72.375rem) {
    /* == Features == */
    .features__description p {
        max-width: 58ch;
    }

    .features__benefits {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        max-width: 1100px;
        margin: auto;
    }

    .feature__image {
        padding-left: 0;
        margin-top: 4.5rem;
        height: unset;
    }

    .feature:nth-child(3) .feature__image {
        height: 4.5rem;
    }

    .feature__package {
        flex-direction: column;
        gap: unset; 
    }

    .benefit {
        text-align: center;
    }

    .benefit p {
        max-width: 28.3ch;
    }

    .fe-c-m {
        padding-left: 0;
        padding-right: 0;
    }

    .fe-m {
        margin-left: 0;
        margin-right: 0;
    } 
}

@media screen and (min-width: 75rem) {
    /* == Hero == */
    .hero {
        background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
        background-position: right center;
    }

    /* == Footer == */
    .footer__menu {
         margin-top: 0rem;
    }

    .social__icons-list {
        margin-top: 0rem;
    }

    .social__icons {
         margin-left: auto;
    }

    .footer__nav {
        margin-left: 6.43125rem;
    }

    .footer__wrapper {
        flex-direction: row;
    } 
}

